.about__background{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.about__info{
    display: flex;
    align-items: center;
    color: #fff3e4;
}

.about__resume{
    display: none;
    padding-top: 35px;
    padding-left: 200px;
    width: 620px;
}

.about__bio{
    /* padding-left: 50px; */
    /* padding-right: 200px; */
    padding-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.about__header{
    font-size: xxx-large;
}

.about__bio > h3 {
    font-size: x-large;
    padding-top: 30px;
}

.about__bio > h5{
    font-size: large;
    padding-top: 30px;
}