.about__info{
    display: flex;
    align-items: center;
    color: #fff3e4;
}

.about__resume{
    display: none;
    padding-top: 35px;
    padding-left: 200px;
    width: 620px;
}

.about__bio{
    padding-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
}

.about__header{
    font-size: xxx-large;
}

.about__bio > h3 {
    /* font-size: x-large; */
    font-size: 25px;
    padding-top: 30px;
}

.about__bio > h5{
    font-size: large;
    padding-top: 30px;
}

.about__resume_mobile {
    display: flex;
    align-items: center;
    border: solid 3px #fff3e4;
    border-radius: 999px;
    width: fit-content;
    height: fit-content;
    margin-top: 30px;
    padding: 10px;
}

.about__resume_mobile > a > h1 {
    color: #fff3e4;
    font-size: xx-large;
}

.modal-body > div.modal > h2, h4{
    text-align: center;
}

.modal{
    color: #fff3e4;
}

.my-modal {
    width: 90vw;
    max-width: 90vw;
}