.about__info{
    display: flex;
    align-items: center;
    color: #fff3e4;
}

.about__resume{
    display: none;
    padding-top: 35px;
    padding-left: 200px;
    width: 620px;
}

.about__bio{
    padding-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
}

.about__header{
    font-size: xxx-large;
}

.about__bio > h3 {
    /* font-size: x-large; */
    font-size: 25px;
    padding-top: 30px;
}

.about__bio > h5{
    font-size: large;
    padding-top: 30px;
}

.about__resume_mobile > a > h1 {
    padding-top: 35px;
    color: #fff3e4;
    font-size: xx-large;
}