@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
    font-family: 'Josefin Sans', cursive
}

@media only screen and (min-width:375px){
    /* html {
      background-color: aquamarine;
    } */

    /* .body__aboutMe {
        max-width: 100%;
    } */

    .header{
        width: 100%;
        font-size: 10px;
    }


    /* .body__aboutMe > img {
        max-width: 150px;
        max-height: 150px;
        margin-right: 0px;
    } */
    
/* 
    .body__info > h5 {
        font-size: medium;
    } */

    /* .body__info > h1 {
        font-size: large;
    } */

    .body {
        color:#fff3e4;
        display: grid;
        place-items: center;
    }

    /* .body__viewPortfolio > a > button {
        max-width: 100px;
        max-height: 50px;
    } */
    /* .portfolio__project{
        width: 100px;
    } */
  }