@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
    font-family: 'Josefin Sans', cursive
}

@media only screen and (max-width:600px){
    html {
      background-color: aquamarine;
    }

    /* .body__aboutMe {
        max-width: 100%;
    } */

    .body__aboutMe > img {
        width: 100px;
        height: 100px;
        margin-right: 3px;
    }

    .header{
        font-size: 10px;
    }

    .portfolio__project{
        width: 100px;
    }
  }