@media only screen and (min-width: 768px){

    /* BODY */

    .body__viewPortfolio > a > button {
        width: 450px!important;
        height: 100px!important;
    }

    .body__aboutMe > img{
        width: 290px!important;
        height: 290px!important;
        margin-right: 20px!important;
    }

    .body__info > h1 {
        font-size: xx-large!important;
    }

    .body__viewPortfolio{
        margin-top: 60px!important;
    }
    
    /* HEADER */

    .header{
        display: flex!important;
        padding-top: 20px!important;
        font-size: 25px!important;
    }

    .header > ul{
        padding-left: 70px!important;
    }

    .links{
        padding-right: 70px!important;
    }

    .header > ul > a > li {
        padding-right: 60px!important;
    }

    .links > a > svg {
        height: 37px!important;
        width: 37px!important;
        padding-left: 35px!important;
    }

    /* .header > div > a  {
        padding: 35px!important;
    } */
    
  }