.body__background {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.body__aboutMe > img {
    border-radius: 999px;
    border: 8px solid white;
    width: 290px;
    height: 290px;
    object-fit: cover;
    margin-right: 30px;
}

.body__aboutMe {
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.body {
    color: white;
    background-color: black;
    display: grid;
    place-items: center;
}

.body__viewPortfolio{
    margin-top: 30px;
}

.body__viewPortfolio > a > button {
    width: 450px;
    height: 100px;
    background-color: #ff6b00;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.body__viewPortfolio > a > button:hover{
    color: #ff6b00;
    background-color: white;
}

.body__info > h5, h1 {
    padding-top: 7px;
}

.body__info > h5 {
    font-size: large;
}