.header{
    /* background-color: black; */
    display: flex;
    padding: 20px;
    font-size: 20px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__image{
    object-fit: contain;
    /* width: 35px;
    height: 35px; */
}

.header > ul{
    list-style: none;
    display: flex;
    align-items: center;;
}

.header > ul > a {
    text-decoration: none;
    /* color: white; */
    color: #fff3e4;
    /* transition: all 0.5s ease */
}

/* .header > ul > a:hover {
    font-size: x-large;
} */

.header > ul > a > li {
    padding-right: 25px;
    cursor: pointer;
}

.header__home--active, .header__portfolio--active, .header__about--active{
    color: #272B42;
}

.links {
    display: flex;
    align-items: center;
}

.header > div > a {
    padding-right: 25px;
    cursor: pointer;
    /* color: white; */
    color: #fff3e4;
}

.links > a > svg {
    height: 30px;
    width: 30px;
}

/* .name{
    color: white;
} */