.header{
    display: block;
    padding-top: 20px;
    font-size: 20px;
    justify-content: space-between;
    /* position: sticky; */
    top: 0;
    z-index: 100;
    width: 100%; 
    max-width: 100%;
}

.header > ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header > ul > a {
    text-decoration: none;
    color: #fff3e4;
    /* transition: all 0.5s ease */
}

.links {
    display: flex;
    list-style: none;
    /* display:none; */
    /* padding-left: 10px; */
    justify-content: center;
    align-items: center;
}

.header > ul > a:hover {
    text-decoration: underline #fff3e4;
}

.header > ul > a > li {
    /* padding-right: 25px; */
    padding-right: 25px;
    cursor: pointer;
}

.header__home--active, .header__portfolio--active, .header__about--active, .header__blog--active{
    color: #272B42;
}

.header > div > a {
    padding: 15px;
    /* padding-right: 10px; */
    cursor: pointer;
    color: #fff3e4;
}

.links > a > svg {
    height: 30px;
    width: 30px;
}