
.portfolio__project{
    padding: 20px;
    display: inline-block;
}

.project{
    transition: all .3s ease-in-out;
    color: #272B42;
}

.project:hover{
    transform: scale(1.1);
}

.portfolio__projects{
    text-align: center;
    padding-top: 20px;
}