
.portfolio__project{
    padding: 10px 20px;
}

.project{
    color: #272B42;
}

.portfolio__projects{
    text-align: center;
    padding-top: 20px;
    display: inline-block;
    justify-content: center;
}