.portfolio__background{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.portfolio__project{
    padding: 20px;
    display: inline-block;
}

.portfolio__projects{
    text-align: center;
}